<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>

    <link rel="stylesheet" href="/css/style_signup.css" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" 
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <!-- ---------------------------------change------------------------------------------- -->
    <div class="container">
        <h1>Sign Up</h1>
        <span>Create your account</span>
        <form>
            <div class="verification">
                <div class="email_container">
                    <i class="fa-solid fa-user"></i>
                    <input class="box" type="text" name="username" placeholder="Enter your name" required>
                </div>
                <div class="email_container">
                    <i class="fa-solid fa-envelope" ></i>
                    <input class="box" type="email" name="email" placeholder="Enter your email" required>
                </div>
    
                <div class="email_container">
                    <i class="fa-solid fa-key "></i>
                    <input class="box" type="password" name="password" placeholder="Enter your password" required>
                </div>
                
            </div>
            <div class="login_forget">
                <button type="submit" id="Login" >Sign Up</button>
            </div>
            
        </form>
    
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://rawgit.com/notifyjs/notifyjs/master/dist/notify.js"></script>

    <script src="/js/signup.js"></script>


</body>
</html>