<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>

    <link rel="stylesheet" href="/css/style_signin.css" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" 
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <div class="container">
        <h1>Login</h1>
        <span>Don't have a account?&nbsp;<a href="/users/signup">Sign Up</a>&nbsp;first</span>
        <form>
            <div class="verification">
                <div class="email_container">
                    <i class="fa-solid fa-envelope" ></i>
                    <input class="box" type="email" name="email" placeholder="Enter your email" required>
                </div>
    
                <div class="email_container">
                    <i class="fa-solid fa-key "></i>
                    <input class="box" type="password" name="password" placeholder="Enter your password" required>
                </div>
                
            </div>
            
            <div class="login_forget">
                <button type="submit" id="Login" >Login</button>
        
                <div class="forget">
                    <a href="/users/forget">Forget Password?</a>
                </div>
            </div>
            
            
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" 
    integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://rawgit.com/notifyjs/notifyjs/master/dist/notify.js"></script>

    <script src="/js/signin.js"></script>
</body>
</html>