*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#editPasswordByUser{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#editPasswordByUser>div{
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#editPasswordByUser>div>span{
    font-size: 20px;
    margin-right: 20px;
}
#editPasswordByUser>div>input{
    width: 80%;
    height: 20px;
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1.2px solid black;
}

#editPasswordByUser>div>button{
    width: 94px;
    height: 26px;
    border-radius: 10px;
    border: none;
    outline: none;
}

#saveByUser{
    margin-top: 15px;
    justify-content: space-around;
}

#cancel{
    background-color: rgb(58, 58, 58);
    color: white;
}
#save{
    background-color: brown;
    color: white;
}